body{
 background-color: #6B6B6B !important;
}

header h1{
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 6em;
  line-height: 200%;
}

.start{
  margin-left: 41%;
  font-size: 2em;
  padding-left: 50px;
  padding-right: 50px;
  color: #FFFFFF;
  background-color: #4A8BF4;
  border: 1px solid #4A8BF4;
}

.start:hover{
  margin-left: 41%;
  font-size: 2em;
  padding-left: 50px;
  padding-right: 50px;
  color: #FFFFFF;
  background-color: #EFD856;
  border: 1px solid #EFD856;
}

.container{
 background-color: #6B6B6B;
}

.stand{
  margin: 4%;
  height: 25em;
  background-color: #B3B9FF;
  position: relative;
}
.bar{
    width : 20px;
    height: 250px;
    background-color: #FFFFFF;
    margin-left: 41%;
    position: absolute;
    bottom: 0;
/*    z-index: -999999;   */
}

.bottom-stand {
  width: 70%;
  height: 15px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
}

.largest {
  background-color: #4a8bf4;
  width: 60%;
  height: 35px;
  border-radius: 15px;
  position: absolute;
/*  bottom: 15px;*/
  left: 20%;
}
.medium {
  background-color: #F759C0;
  width: 50%;
  height: 35px;
  border-radius: 15px;
  position: absolute;
/*  bottom: 50px;*/
  left: 25%;
}
.small {
  background-color: #F7DF59;
  width: 40%;
  height: 35px;
  border-radius: 15px;
  position: absolute;
/*  bottom: 85px;*/
  left: 30%;
}
